body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}


.side.content {
    height: calc(100vh - 80px);
}

nav .navbar {
    min-height: 80px;

}

#sidebar {
    max-width: 50px;
    overflow-y: auto;
}

#top-container{
    width: calc(100% - 50px);
}

#middle-container{
    width: calc(100% - 50px);
}






.debug {
    border: 2px solid black;
}

.debug-col {
    border: 2px solid red;
}



/*--MEDIA QUERY--*/

/* Small devices (landscape phones, 576px and up)*/
@media screen and (min-width: 576px) {
    
}

/* Medium devices (tablets, 768px and up)*/
@media  screen and (min-width: 768px) {}

/* Large devices (desktops, 992px and up)*/
@media  screen and (min-width: 992px) {
    #sidebar {
max-width: 150px;
    }

    #top-container{
        width: calc(100% - 150px);
    }
    
    #middle-container{
        width: calc(100% - 150px);
    }
}

/* X-Large devices (large desktops, 1200px and up)*/
@media  screen and (min-width: 1200px) {
    
}