#header {
    min-height: 80px;

}

#sidebar {
    max-width: 50px;

}

main {
    display: flex;
    flex-grow: 1;

}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}




.debug {
    border: 2px solid black;
}

.debug-col {
    border: 2px solid red;
}



/*--MEDIA QUERY--*/

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    ...
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    ...
}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    ...
}