body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

:root {
    --bg-search: #E5E5E5;
    --bg-bell: gold;
    --bg-sidebar:#142A40;
    --bg-trasparent:rgba(0,0,0,0.0);
    --bg-header:#1B72E8;
    --bg-botton:#165BBA;
}

/*--NAVBAR--*/


nav .box button,
nav .form-control {
    background-color: var(--bg-search);
    border: 0;
}

nav .box button {
    border-radius: .375rem 0 0 .375rem;
}

nav .form-control {
    border-radius: 0 .375rem .375rem 0;
}

nav .fa-bell {
    color: var(--bg-bell);
}

nav -fa .side.content {
    height: calc(100vh - 80px);

}

nav .navbar {
    min-height: 80px;

}

nav ul .dropdown-menu[data-bs-popper]{
    right:0;
    left:auto;
}

nav .fa-question{
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: white;
    font-size: 0.75rem;
    border-radius: 50%;
    background-color: darkslategray;
}

/*--SIDEBAR--*/

.side-content {
    width: 50px;
    overflow-y: auto;
    background-image: url('../img/sidebar-bg.png');
    background-color:var(--bg-sidebar);
}

#sidebar a{
    background-color: var(--bg-trasparent);
    color: white;
    border: 0;
}

/*--HEADER--*/

.bg-container {
    width: calc(100% - 50px);
    
}

#top-container{
    background-color: var(--bg-header);
}

#top-container nav{
    width: 20%;
}

#top-container .order-md-3:first-child button {
    height: 36px;
    margin: 0.5rem;
}

#top-container .btn-primary{
    background-color: var(--bg-botton);
}
.offcanvas {
    --bs-offcanvas-width: 100%;
}
#basic-addon1{
    border: 0;
    background-color: var(--bg-trasparent);
}

/*--font-awesome*/

/*<i class="fa-solid fa-pen"></i>
<i class="fa-solid fa-trash"></i>

*/


/*--MEDIA QUERY--*/

/* Small devices (landscape phones, 576px and up)*/
@media screen and (min-width: 576px) {}

/* Medium devices (tablets, 768px and up)*/
@media screen and (min-width: 768px) {
    .offcanvas {
        --bs-offcanvas-width: 600px;
    }
}

/* Large devices (desktops, 992px and up)*/
@media screen and (min-width: 992px) {
    .side-content {
        width: 150px;
    }

    .bg-container {
        width: calc(100% - 150px);
    }
    .md-logo{
        display: block !important;;
    }

    .sm-logo{
        display: none;
    }
    #sidebar .list-group-item{
        padding: 0.5rem 0.5rem 0.5rem 0;
       
    }
   
    

    
}

/* X-Large devices (large desktops, 1200px and up)*/
@media screen and (min-width: 1200px) {}